.container {
    display: flex;
    flex-direction: column; /* ou row, dependendo da orientação desejada */
  }
  
  .header-container {
    margin-bottom: 3%; /* ou outra margem desejada */
  }

  .pessoa-lista-container {
    margin-left: 9%;
    width: 100%;
  }