header {
  background-color: #333;
  color: #333;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1000;
}

.logo-container {
  background: #333;
  padding: 4px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
}

.logo-container img {
  height: 40px;
  align-items: center;
}