.sidebar {
    position: fixed; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    z-index: 100; 
    padding: 48px 0; 
    width: 150px; 
    background-color: #333; 
    color: #fff; 
  }
  
  .sidebar .nav-link {
    padding: 10px 20px; 
    color: #fff; 
  }
  
  .sidebar-heading {
    padding: 20px 20px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    color: #fff;
  }
  