app-pessoa-lista {
  margin-top: 100%; /* Ajuste conforme necessário */
}

/* Estilo para a tabela */
table {
  width: 100%;
  margin-bottom: 10%; /* Espaço entre a tabela e o formulário */
}

/* Estilo para o formulário */
form {
  margin-top: 30px; /* Espaço entre o formulário e a tabela */
}

.titulo-tabela {
  font-size: 14px; /* Define o tamanho da fonte */
  font-weight: bold; /* Define o peso da fonte como negrito */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
}